<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="angel.reynaldo.sensor" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/sensor"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:icon="@drawable/sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SensorProximidad"
            android:label="@string/title_activity_sensor_proximidad"
            android:icon="@drawable/proxy">
            <intent-filter>
                <action android:name="angel.reynaldo.sensor.SensorProximidad" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Senaceler"
            android:label="@string/title_activity_senaceler"
            android:icon="@drawable/acel">
            <intent-filter>
                <action android:name="angel.reynaldo.sensor.Senaceler" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Senl"
            android:label="@string/title_activity_senl"
            android:icon="@drawable/senl">
            <intent-filter>
                <action android:name="angel.reynaldo.sensor.Senl" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
